#searchbar {
	background: rgb(60, 60, 60);

	width: 210px;
	padding: 10px;
	float: right;
	height: 100vh;
	overflow-x: hidden;
	position: relative;
	padding-left: 10px;
	padding-right: 10px;
}

.main-searchbar{
	position: relative;
}
  
button {
  outline: 0;
  background-color: rgb(21, 21, 21);
  border: 0;
  padding: 10px 15px;
  color: #ffffff;
  border-radius: 3px;
  width: 90px;
  cursor: pointer;
  font-size: 15px;
  margin: 5px;
  position: static;
}

button:hover {
  background-color: #000000;
}