@import url('https://fonts.googleapis.com/css?family=Roboto');

body{
	font-family: 'Roboto', sans-serif;
	background-color: #1c1d22;
  	overflow: scroll;
}

* {
	margin: 0;
	padding: 0;
}

.center {
    margin-left: auto;
    margin-right: auto;
}

i {
	margin-right: 10px;
}

h2{
	margin:0px;
}

h6{
	margin:0px;
	color:#777;
}

#map { 
	margin: 0 auto;
	width: 100% - 210px; 
	height: 100vh;
}